.checkInput{
  @apply form-check-input
  form-control appearance-none
  h-4
  w-4
  border
  border-gray-300
  rounded-sm
  bg-white
  checked:bg-blue-600
  checked:border-blue-600
  focus:outline-none
  transition
  duration-200
  mt-1
  align-top
  bg-no-repeat
  bg-center
  bg-contain
  /* float-left */
  mr-2
  cursor-pointer
}

.formControl{
  @apply
  form-control
  block
  w-full
  px-3
  py-1.5
  text-base
  font-normal
  text-gray-700
  bg-white bg-clip-padding
  border border-solid border-gray-300
  rounded
  transition
  ease-in-out
  m-0
  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
}

.button{
  @apply inline-flex
  justify-center
  py-2
  px-4
  border
  border-transparent
  shadow-sm
  rounded-md
  text-white
  bg-teal-400 opacity-70 hover:bg-teal-600 focus:bg-teal-600 active:bg-teal-700
  focus:outline-none
  focus:ring-2
  focus:ring-offset-2
}

.myClass{
  @apply form-check-label inline-block text-gray-800
}

.date{
  @apply form-control block w-60 px-3  py-1.5 text-base font-normal  text-gray-700  bg-white bg-clip-padding border border-solid border-gray-300 rounded
  transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
}

.radioChecked{
  @apply flex flex-col
  items-center
  opacity-30
  border-solid
  rounded
  cursor-pointer
  border-2
}
.collBtn{
  @apply   flex 
  justify-end
  items-end
  w-full
  pb-4
  px-5
  text-gray-800
  text-right
  bg-white
  transition
  focus:outline-none
  cursor-default
}
.groupCheckStart{
  @apply rounded-l
        px-6
        py-2
        border-2 border-blue-600
        text-blue-600
        font-medium
        text-xs
        leading-tight
        uppercase
        hover:bg-black hover:bg-opacity-5
        focus:outline-none focus:ring-0
        transition
        duration-150
        ease-in-out
}
.groupCheckMid{
  @apply px-6
  py-2
  border-t-2 border-b-2 border-blue-600
  text-blue-600
  font-medium
  text-xs
  leading-tight
  uppercase
  hover:bg-black hover:bg-opacity-5
  focus:outline-none focus:ring-0
  transition
  duration-150
  ease-in-out
}
.groupCheckEnd{
  @apply  rounded-r
  px-6
  py-2
  border-2 border-blue-600
  text-blue-600
  font-medium
  text-xs
  leading-tight
  uppercase
  hover:bg-black hover:bg-opacity-5
  focus:outline-none focus:ring-0
  transition
  duration-150
  ease-in-out
}
.groupCheck{
  @apply flex
  justify-between
  p-3
  w-full
  text-gray-700
  bg-white
  rounded-lg
  border-2
  border-gray-200
  cursor-pointer
  opacity-60
}
