

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


footer {

  margin-top: auto;
}
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.navMain {
  display: flex;
  flex-direction: row;
}

.flexSitterCard{
  width: 536px;
}

.formCenter {
  display: flex;
  justify-content: center;
}

.cardsFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formPosition {
  margin-top: 80px;
  margin: auto;
}

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}
